.buscador{
    font-family: 'Fredoka One', cursive;
    background-color:#0F2C33!important;
     }
  
  .buscador h3{
    font-size: 22px;
  }
  
  .buscador input{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
  
  }