
.classView h6{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    stop-color: white;
    width: 100%;
    align-content: center;
    font-weight: bold;
  }
 
.classView h3{
  font-family: 'Fredoka One', cursive;
}

.classView p{
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
}