
.card-course .card{
    border-left: 6px solid rgb(95, 159, 170);

}

td{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.icon-class {
    font-size: 16px;
    margin: 0px 2px 0px 5px;
    color: #467b9e;
  }

  .icon-cambios {
    font-size: 16px;
    margin: 0px 2px 0px 4px;
    color: rgb(240, 142, 50);
  }
  
.card-info{
    background-color: rgb(255, 255, 255);
}

.card-info h1{
    margin: 25px!important;
}

.card-course .detalles{
    margin: 0px 0px 0px 50%;
    font-size: 16px;
}

.card-course p{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    text-align: justify;
}

.card-course img{
 max-width: 6em;
 width: 6em;   
 }
 
 .card-course .detalles{
     font-size: 15px;
 }

.card-course h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 17px;
     text-align: center; 
    margin: 10px 0px 5px 3px;
    color: rgb(55, 64, 71);
  }



  