.card-exercises h2{
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
}

.card-exercises label{
    font-family: 'Fredoka One', cursive;

    font-size: 16px;
}


.card-exercises h6{ 
    font-size: 16px;
}