nav {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 2vh;
  background-color: #122a6d;
}

.navbar li:hover {
  background: #1358BD;
  transition: all .8s;
  color: black;
  border-radius: 10px;
  -moz-border-radius: 70px 70px 70px 70px;
  -webkit-border-radius: 70px 70px 70px 70px;
}

nav .icon-user {
  font-size: 15px;
  color: rgb(132, 219, 253);
}

nav .dropdown-item:hover {
  font-family: 'Raleway', sans-serif;
  background: #1358BD;
  color: white;
}

nav .dropdown-item {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.icon-config {
  font-size: 15px;
  color: #aeee72;
  margin: 0px 5px 0px 5px;
}