 .login-form {
     overflow-y: hidden!important;
     height: 100%;
     max-height: 100%;
     max-width: 30em!important;
 }

 .login-form input {
     font-size: 95%!important;
 }

 .login-form p {
     font-family: 'Raleway', sans-serif;
     font-size: 90%;
 }

 .login-form {
     max-width: 30%;
 }

 .login-form button {
     font-size: 85%;
 }

 .login-form label {
     font-size: 85%;
 }