body {
  background-color: #dce8f5;
}

html {
  overflow-x: hidden;
  width: 100%;
  overflow-y: scroll!important;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 22px;
  color: rgb(44, 43, 43)
}

h6 {
  font-size: 14px;
}

button {
  transition: all .8s;
}

option {
  font-size: 2vh;
}

option:hover {
  background-color: #1358BD!important;
}

.card-add {
  background-color: rgb(255, 254, 255);
  border-radius: 10px;
  margin-top: 2vh;
}

.card-add option {
  font-family: 'Raleway', sans-serif;
  padding: 4vh;
}

.card-add h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 2.6vh;
  color: rgb(61, 61, 61);
}

.card-add label {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 2vh;
  color: rgb(66, 66, 66);
}

.card-add .form-control {
  font-family: 'Raleway', sans-serif;
  font-size: 2.1vh;
  background-color: rgb(215, 227, 250);
  border: none;
  border-radius: 4px;
  color: black;
  outline: 0;
}

#file-upload-button {
  border-radius: 60px!important;
  border: none;
  background-color: wheat;
}

.card-add .btn-add {
  margin-top: 1vh;
  font-size: 2vh;
  font-weight: 900;
}

.button-duvo {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  border-radius: 20px;
  margin-top: 2vh;
  color: white;
  font-size: 2.2vh;
  background: linear-gradient( rgb(49, 80, 139), rgb(57, 64, 128));
  transition: all .8s;
}

.button-duvo:hover {
  background: linear-gradient( rgb(33, 54, 94), rgb(48, 53, 102));
  color: white;
}

@media only screen and (max-width: 1050px) {
  .vector-prices {
    background: none;
  }
}

.central-content {
  justify-content: center;
  margin: auto;
}

.help-text {
  font-family: 'Fredoka One', cursive;
}

.help-div label {
  font-family: 'Fredoka One', cursive;
}

.error404 {
  max-width: 100%;
  max-height: 100%!important;
  height: 100%;
}

.carousel-item:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(10, 110, 209, 0.158), rgb(9, 20, 49) 100%);
}

.img-carrusel {
  width: 100%;
  max-height: 50rem;
}

@media screen and (max-width: 500px) {
  .imageLogin {
    content: url("");
  }
}