body {
  background-color: #dce8f5;
}

html {
  overflow-x: hidden;
  width: 100%;
  overflow-y: scroll!important;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 22px;
  color: rgb(44, 43, 43)
}

h6 {
  font-size: 14px;
}

button {
  transition: all .8s;
}

option {
  font-size: 2vh;
}

option:hover {
  background-color: #1358BD!important;
}

.button-duvo {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  border-radius: 20px;
  margin-top: 2vh;
  color: white;
  font-size: 2.2vh;
  background: linear-gradient( rgb(49, 80, 139), rgb(57, 64, 128));
  transition: all .8s;
}

.button-duvo:hover {
  background: linear-gradient( rgb(33, 54, 94), rgb(48, 53, 102));
  color: white;
}

@media only screen and (max-width: 1050px) {
  .vector-prices {
    background: none;
  }
}

.linkDuvo {
  font-family: 'Fredoka One', cursive;
  color: rgb(73, 70, 70);
  font-size: small;
}

.linkDuvo:hover {
  color: rgb(66, 64, 64);
}

.central-content {
  justify-content: center;
  margin: auto;
}

.div-while {
  background-color: #fbfbfb;
}

.help-text {
  font-family: 'Fredoka One', cursive;
}

.help-div label {
  font-family: 'Fredoka One', cursive;
}

.error404 {
  max-width: 100%;
  max-height: 100%!important;
  height: 100%;
}

.input-group input {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  stop-color: rgb(49, 49, 49);
}

.form-group label {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.font-releway {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.module {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.white-background {
  background-color: #ffffff;
}

.create h1 {
  font-size: 18px;
}

.create h6 {
  font-size: 14px;
}

.courseInfo p {
  font-family: 'Raleway', sans-serif;
  font-size: 90%;
}

.icon-cambios {
  font-size: 20px;
  color: rgb(243, 176, 113);
}

.chat-nav {
  opacity: 0.1;
}

.icon-chat {
  font-size: 30px;
  margin: 0px 5px 0px 5px;
  color: #35640a;
}

.margin-person {
  margin: 0px 5px 0px 5px;
}

.text_ {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  stop-color: white;
  width: 100%;
  align-content: center;
}

.text-small {
  font-size: 10px;
}

.font-releway-input {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
}

.font-fredoka-small {
  font-family: 'Fredoka One', cursive;
  font-size: 11px;
}

.carousel-item:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(10, 110, 209, 0.158), rgb(9, 20, 49) 100%);
}

.img-carrusel {
  width: 100%;
  max-height: 50rem;
}

.imageLogin {
  max-width: 100%;
  max-height: 100%!important;
  height: 100%;
  position: absolute;
}

.imageLogin_ {
  max-width: 70%;
  max-height: 100%!important;
  height: 100%;
  position: absolute;
}

@media screen and (max-width: 500px) {
  .imageLogin {
    content: url("");
  }
}

.form1 {
  background-color: #edf1f0;
}

.ultimo {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.index-one {
  background-color: #e7f6f6;
}

.index-two {
  background-color: #f5f5f5;
}

.op {
  color: rgb(63, 57, 57)
}

.about-descrip {
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  text-align: justify;
}

.help {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-align: justify;
}

.font-neuton {
  font-family: 'Flamenco', cursive;
  font-size: 20px;
}

.size-class {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  align-content: left;
}

.icon-clases {
  font-size: 23px;
  color: rgb(179, 207, 87);
}

selected {
  font-size: 14px;
}

.enlace_desactivado {
  pointer-events: none;
  cursor: default;
}

.font-big {
  font-size: 26px;
}

.clr {
  font-family: 'Raleway', sans-serif;
}

.descrip {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  text-align: justify;
}

.size-iconn {
  font-size: 23px;
  color: rgb(28, 199, 162);
}

.size-iconnn {
  font-size: 23px;
  color: rgb(216, 162, 64);
}

.header-user {
  width: 100%;
  align-content: center;
}

.text-user {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  width: 100%;
  align-content: center;
}

.item_ {
  color: rgb(243, 243, 243);
}

.dxx {
  align-content: left;
}

.title-conten {
  font-size: 15px;
  color: #183a66;
}

.size-icon {
  font-size: 33px;
}

.size-small {
  font-size: 15px;
}

.central-div {
  justify-content: center;
  display: block;
  margin: auto;
}

.dropdown-item {
  font-size: 14px;
  left: 0px;
  max-width: 100%;
}

.send {
  align-content: left;
}

.space {
  margin: 4px;
}

.div-size {
  height: 515px;
}