body {
  background: #abbaab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

html {
  overflow-x: hidden;
  width: 100%;
  overflow-y: scroll!important; 
}
 

.central-content {
  justify-content: center;
   margin: auto;
} 

.div-while{
  background-color: #fbfbfb; 
}

.help-text {
  font-family: 'Fredoka One', cursive;
}
h1{
  font-family: 'Fredoka One', cursive;
  font-size: 22px;
}

h6{
  font-size: 14px;
}

.help-div label{
  font-family: 'Fredoka One', cursive;

}

button{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.course-target{
  width: 20rem;
}

.course-font {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}
.course-target:hover{
  filter: grayscale(100%); 

  background-color:rgb(194, 241, 255);
}
 

.form-group a{
  font-family: 'Fredoka One', cursive;
  font-size: 15px;
}

.input-group input{
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  stop-color: rgb(49, 49, 49);
}

.form-group label{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.form-group p a{
  font-family: 'Fredoka One', cursive;
  font-size: 14px;
}

.font-releway {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;

}

.module {
  font-family: 'Raleway', sans-serif ;
  font-size: 14px ;
}

.white-background {
  background-color: #ffffff;
}

.create h1{
  font-size: 18px;
}

.create h6{
  font-size: 14px;

}

.icon-config{
  color:#80c043;
  margin: 0px 5px 0px 5px;
}

.color-yellow{
  color:#d1c411!important;
}



.courseInfo p{
  font-family: 'Raleway', sans-serif ;
  font-size: 90% ;
}

.icon-cambios {
  font-size: 20px;
  color: rgb(243, 176, 113);
}

.icon-class {
  font-size: 20px;
  margin: 0px 5px 0px 5px;
  color: #443168;
}

.chat-nav{
  opacity: 0.1;
}


.icon-chat{
  font-size: 30px;
  margin: 0px 5px 0px 5px;

  color: #35640a;
}

.margin-person{
  margin: 0px 5px 0px 5px;

}


.text_ {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  stop-color: white;
  width: 100%;
  align-content: center;
}


.text-small{
  font-size: 10px;
}

.font-releway-input {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;

} 

.font-fredoka-small{
  font-family: 'Fredoka One', cursive;
  font-size: 11px;
}


 

.carousel-item:before{
  content:"";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(255,255,255,0),#005366 100%); 
  
}  
.img-carrusel{
  width: 100%;
  max-height: 50rem;
}

.imageLogin{
  max-width: 100%; 
  max-height: 100%!important;
  height: 100%;
  position: absolute;
}
 
@media screen and (max-width: 500px) {
  .imageLogin   {
      content:url("");
  }
  } 


.form1 {
  background-color: #edf1f0;
}

.ultimo {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.index-one {
  background-color: #e7f6f6;
} 
 

.index-two {
  background-color: #f5f5f5;
} 
 

.op {
  color: rgb(63, 57, 57)
}

 
 

 

.about-descrip {
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  text-align: justify;
}

.help {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-align: justify;
}



.font-neuton {
  font-family: 'Flamenco', cursive;
  font-size: 20px;
}

.size-class {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  align-content: left;
}

 

 
.icon-clases {
  font-size: 23px;
  color: rgb(179, 207, 87);
}

 

option {
  font-size: 14px;
}

selected {
  font-size: 14px;
}

.enlace_desactivado {
  pointer-events: none;
  cursor: default;
}

 

.font-big {
  font-size: 26px;
}

.clr {
  font-family: 'Raleway', sans-serif;
}

.descrip {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  text-align: justify;
}

.size-iconn {
  font-size: 23px;
  color: rgb(28, 199, 162);
}

.size-iconnn {
  font-size: 23px;
  color: rgb(216, 162, 64);
}

.header-user {
  width: 100%;
  align-content: center;
}

.text-user {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  width: 100%;
  align-content: center;
}

 
.item_ {
  color: rgb(243, 243, 243);
}

.dxx {
  align-content: left;
}

 

.title-conten {
  font-size: 15px;
  color: #183a66;
}

.size-icon {
  font-size: 33px;
}

.size-small {
  font-size: 15px;
}

.central-div {
  justify-content: center;
  display: block;
  margin: auto;
}

.dropdown-item {
  font-size: 14px;
  left: 0px;
  max-width: 100%;
}

.send {
  align-content: left;
}

.space {
  margin: 4px;
}

.div-size {
  height: 515px;
}